body {
    background: #eedca8;
}

#main-div {
    display: flex;
    flex-direction: row;
    /* background: gray; */
    align-items: center;
    justify-content: center;
    gap: 80px;
}

#greetings {
    font-family: 'Lucida Handwriting', 'Comic Sans MS', cursive;
    font-size: 48px;
    letter-spacing: 2px;
    /* Adjust letter spacing for a handwritten feel */
    line-height: 1.5;
}

#who-we-are {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: 'YourCustomFont', sans-serif;
    /* Use the custom font */
}

.green-text {
    /* background: pink; */
    height: 70px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center vertically */
    text-align: center;
    font-size: 26px;
}

#demo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: 'YourCustomFont', sans-serif;
    background:rgb(250, 225, 229);

}